html {
    font-size: 42%;
}

/* Home Section  */

section .main {
    top: 10rem;
}

section .main .main_text h1 {
    font-size: 5rem;
    left: -2rem;
}

section .main .main_text h1 span {
    margin-left: 1.1rem;
    font-size: 6rem;
}

section .main .main_image img {
    width: 50rem;
    left: 12rem;
}

section .main_btn {
    bottom: 8rem;
    padding: 1.1rem 2.3rem;
}

/* About  */

.about {
    padding: 0;
    height: 70vh;
}


@media(max-width: 720px) {
    .gallery .gallery_image_box {
        width: 110%;
        grid-gap: 1.5rem;
    }

    .review .review_box {
        width: 110%;
    }

    .order {
        height: 85vh;
    }

    .review {
        height: 80vh;
    }

}

/* Team Section  */

.team {
    width: 115%;
    height: 85vh;
}

/* Footer  */

footer {
    width: 115%;
}


@media(max-width: 845px) {
    html {
        font-size: 35%;
    }
}